<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/recherche.css">
    <link href="styles/icons/css/fontawesome.css" rel="stylesheet" />
    <link href="styles/icons/css/brands.css" rel="stylesheet" />
    <link href="styles/icons/css/solid.css" rel="stylesheet" />
    <title>Résultats de la recherche</title>
    <script src="scripts/burger_menu.js"></script>
    <script>
        let isHeaderVisible = false;

        window.addEventListener('scroll', function () {
            var header = document.querySelector('.header-scroll'); // Correction ici
            var headerHeight = header.offsetHeight;

            if (window.scrollY > headerHeight && !isHeaderVisible) { // Correction ici
                header.classList.add('visible');
                isHeaderVisible = true;
            } else if (window.scrollY <= headerHeight && isHeaderVisible) { // Correction ici
                header.classList.remove('visible');
                isHeaderVisible = false;
            }
        });
    </script>
</head>

<body>
    <!-- Navbar -->

    <header>
        <div class="headerglobal">
            <a href="/"><img src="images/logo-arti-libre.png" alt=""></a>
            <div class="clickables">
                <a href="google.fr">Comment ça marche ?</a>
                <a>Artisans</a>
                <a>Services</a>
                <div class="burgermenue">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <div class="buttons">
                <button>Devenir Artisan</button>
                <p>Se connecter</p>
            </div>
        </div>
    </header>

    <div class="header-scroll">
        <div class="headerglobal">
            <a href="/"><img src="images/logo-arti-libre.png" alt=""></a>
            <div class="clickables">
                <a href="google.fr">Comment ça marche ?</a>
                <a>Artisans</a>
                <a>Services</a>
                <div class="burgermenue">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <div class="buttons">
                <button>Devenir Artisan</button>
                <p>Se connecter</p>
            </div>
        </div>
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <div class="intopopup">
                <a href="google.fr">Comment ça marche ?</a>
                <a>Artisans</a>
                <a>Services</a>
                <div class="buttons">
                    <button>Devenir Artisan</button>
                    <p style="color: #003ab8;">Se connecter</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Navbar -->
    <div class="containeroftext">
        <div class="textfield-container">
            <a href="" class="arrow" id="submit"><i class="fa-solid fa-arrow-right"></i></a>
            <input id="searchInput" idtype="text" value="<%= q %>" class="textfield"
                placeholder="Quel artisan recherchez-vous ?">
            <div id="results"></div>
            <script>
                document.getElementById('submit').addEventListener('click', function (event) {
                    event.preventDefault();
                    const query = document.getElementById('searchInput').value.trim();
                    if (query) {
                        window.location.href = `/results?q=${encodeURIComponent(query)}`;
                    } else {
                    }
                });
            </script>
        </div>

    </div>

    <div class="results-container">
        <% if (results.length> 0) { %>
            <% results.forEach(function(item) { %>
                <div class="result">
                    <img src="<%= item.pp %>" class="profile-image"><br>
                    <div class="properties">
                        <strong class="name">
                            <%= item.nom %>
                                <%= item.prenom %>
                        </strong><br>
                        Métier: <%= item.metier %><br>
                            Description: <%= item.description %><br>
                                Ville: <%= item.ville %> <br>
                                    Numéro de téléphone: <%= item.numero %>
                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <p>Aucun résultat trouvé.</p>
                        <% } %>
    </div>

</body>

</html>